@charset "utf-8";

@function half($base) {
	@return $base/2 * 1px;
}
@function per($base) {
	@return $base/720 * 100%;
}

@function pers($size) {
	@return $size/1300 * 100%;
}

@function get-vw($target) { 
	$vw-context: (720*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

@function get-d-vw($target) { 
	$vw-context: (1980*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

@function rem($target) { 
	$vw-context: (720*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

