@charset "utf-8";

@mixin clear(){
	&:after{
		content:"";
		display:block;
		clear:both;
	}
}
@mixin bg($path,$x: 0,$y: 0,$repeat:0){
	// @if $repeat == 0 {
	// 	$repeat:no-repeat;
	// } @else if $radius == 1 {
	// 	$repeat:repeat-x;
	// } @else if $radius == 2 {
	// 	$repeat:repeat-y;
	// }

	// @if $x != 0 {
	// 	$x: $x;
	// }
	// @if $y != 0 {
	// 	$y: $y;
	// }
	// background:url(#{$path} $x $y $repeat)
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

