@charset "utf-8";

@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/include-media";
*{
	box-sizing: border-box;
}
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body {background:#fff;letter-spacing:-0.025em;}
body,th,td,input,select,textarea,button {font-size:16px;line-height:1.34;font-family: 'Noto Sans KR';color:#555555} /* color값은 디자인가이드에 맞게사용 */

a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;color:#333;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

img{vertical-align:top;}

select.select,
input.input{
	border: 1px solid #d8d8d8;height: 30px;
}
input.input{padding-left: 5px;}
select.select{border: 1px solid #d8d8d8;height: 30px;}


.fl-r{
	float: right;
}
.fl-l{
	float: left;
}

.table_horizontal{
	border-top:1px solid #000;
	tbody{
		th,
		td{
			padding: 8px 0;
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		th{
			font-weight: 500;
			background-color: #f8f8f8;
			text-align: center;
			&.bln{
				border-left: 0 none;
			}
		}
		td{
			padding-left: 8px;
			padding-right: 8px;
			text-align: left;
		}
	}
}

.ta_c{
	text-align: center !important;
}

.table_vertical{
	border-top: 1px solid #000;
	th,
	td{
		border: 1px solid #ccc;
	}
	thead{
		tr{
			th{
			    background-color: #f8f8f8;
			    padding: 8px 0;
			    text-align: center;
			    font-weight: 500;
			    
			    font-size: 14px;
			}
		}
	}
	tbody{
		th{
			color: #343434;
			font-weight: 500;
		}
		tr{
			&.ta_c{
				td{
					text-align: center;
				}
			}
			td{
				padding: 8px 5px;
				font-size: 14px;
			}
		}
	}
}





@for $i from 1 through 120 {
  .width-#{$i*10}{
  	width: #{$i*10}px !important;
  }
}

@for $i from 1 through 120 {
  .height-#{$i*10}{
  	height: #{$i*10}px !important;
  }
}
.height-48{height: 48px !important;}


$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.modal-dialog{max-width: inherit;}

.border-bottom-1{
	border-bottom: 1px solid #ccc;
}