@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/include-media";

body{background-color: #f1f5ff;min-width: 1480px;}



.login {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    .logo {
     	text-align: center;
     	padding-bottom: 10px;
    }
    &__wrap {
        position: relative;
        height: 100vh;
        background: no-repeat top center / 100% 50vh url("../img/top.png");
    }
    &__box {
        width: 500px;
        padding: 75px 20px;
        background-color: #fff;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.17);
    }
    &__text {
        margin-bottom: 20px;
        text-align: center;
        h3 {
            margin-bottom: 10px;
            font-size: 26px;
            letter-spacing: -1px;
            line-height: 1;
            span {
                color: #1e5caf;
                font-weight: 400;
            }
        }
        p {
            color: #666666;
           
            line-height: 1.5;
        }
    }
    &__form {
        &> div {
            float: left;
            &:first-child {width: calc(100% - 161px);}
        }
    }
    &__btn {
        width: 140px; height: 120px;
        margin-left: 20px;
        background-color: #0c82e9;
        color: #fff;
        font-size: 18px;
    }
    .form-control {
	    display: block;
	    width: 100%; height: 55px;
	    padding: 10px 20px;
	    border-radius: 0;
	    border: 1px solid #666666;
	    font-size: 18px;
	    &:first-child {margin-bottom: 10px;}
	    &::placeholder {color: #dddddd;}
	}
}

.header{
	min-width: 1480px;
	position: fixed;
	left: 0;right: 0;top: 0;background-color: #fff;
	z-index: 10;
	&-top{
		height: 72px;
		padding-left: 27px;
		h1{
			padding-top: 15px;
			a{
				vertical-align: top;display: inline-block;background: url(../img/logo.png) no-repeat 0 0;
				width: 365px;height: 41px;font-size: 0;text-indent: -9999em;
			}
		}
	}
	&-gnb{
		padding-left: 178px;
		height: 46px;
		background-color: #2b8ee1;
		position: relative;
		ul{
			overflow: hidden;

			li{
				float: left;
				border-left: 1px solid #fff;
				&:last-child{
					border-right: 1px solid #fff;
				}
				a{
					display: block;
					position: relative;
					padding: 0 55px;
					height: 46px;
					line-height: 46px;
					font-size: 18px;
					color: #fff;
					&:after{content:"";display: none;position: absolute;left: 0;right: 0;bottom: 0;height: 9px;
					background: url(../img/bg-gnb-active.png) no-repeat 50% 100%;
					border-bottom: 2px solid #1078c1;
					}
					&.active{
						border-top: 1px solid #2b8ee1;
						line-height: 45px;
						color: #2c8ee0;
						background-color: #fff;
						&:after{display: block;}
					}
				}
			}
		}
	}
	&-util{
		position: absolute;right: 40px;top: 8px;
		a{
			display: inline-block;
			background-repeat: no-repeat;
			background-position: 0 50%;
			height: 32px;line-height: 32px;font-size: 14px;color: #fff;
		}
		.btn-1{background-image: url("../img/icon-gnb-statis.png");padding-left:30px}
		.btn-2{background-image: url("../img/icon-gnb-settings.png");padding-left:38px;margin-left: 40px;}
	}
}

.side{
	position: fixed;left: 0;top: 118px;bottom: 0;width: 178px;background-color: #d6d9e1;
	&-user{
		background-color: #f5f8ff;
		padding: 17px;
		.name{
			height: 23px;line-height:23px;font-size: 16px;color: #000;
			background: url("../img/icon-user.png") no-repeat 0 50%;padding-left:30px
		}
		.login-info{
			font-size: 11px;color: #000;
			padding: 5px 0 15px;
		}
		.btn-group{
			a{
				display: inline-block;
				background-color: #fff;
				border: 1px solid #9d9d9d;
				border-radius:3px;
				text-align: center;
				padding: 3px 9px;
				font-size: 12px;
			}
		}
	}
	.lnb{
		padding-top: 20px;
		> li{
			margin: 5px 0;
			a{
				position: relative;
				display: block;background-repeat: no-repeat;background-position: right 20px center;
				padding-left: 24px;height: 40px;line-height: 40px;transition: all 0.1s;
				&:after{
					content:"";display: block;position: absolute;left: 5px;top: 50%;transform: translateY(-50%);
					background-repeat: no-repeat;background-position: 0 50%;
					width: 16px;height: 18px;
				}
				&:hover,
				&.current{
					background-image: url("../img/arw-lnb-active.png");
					background-color: #2d58b6;
					color: #fff;
				}
			}
			
			@for $i from 1 to 6{
				&:nth-child(#{$i}){
					a:after{background-image: url("../img/icon-lnb-#{$i}-off.png");}
					a:hover:after{background-image: url("../img/icon-lnb-#{$i}-on.png");}
				}
			}
		}
	}
}


.content{
	padding-top: 140px;
	padding-right: 40px;
	margin-left: 178px;
	padding-left: 30px;
}

.card{
	background-color: #fff;border-radius:12px;
	padding: 30px 20px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	&-header{
		position: relative;
		&-tit{
			color: #000;
			background: url("../img/blit-card-tit.png") no-repeat 0 50%;
			font-size: 20px;
			padding-left: 20px;
			margin-bottom: 20px;
		}
		&-btn{
			position: absolute;right: 0;top: 0;
		}
	}
}

.btn-more{
	display: inline-block;background: url("../img/btn-more.png");width: 47px;height: 10px;
}

.row{
	&:after{content:"";display: block;overflow: hidden;clear: both;}
}

.col-full{}
.col-50p{width: calc(50% - 8px);
	
}


.card-content{overflow: hidden;}
.half{
	width: calc(50% - 8px);
	float: left;
	+.half{float: right;}
}

.paging{
	text-align: center;font-size: 0;
	a,
	strong{
		display: inline-block;vertical-align: top;
		height: 30px;line-height: 28px;
		border: 1px solid #d8d8d8;width: 35px;font-size: 12px;
		font-weight: 400;
		margin-left: -1px;
	}
	strong{
		color: #d20202;
	}
	.prev,
	.next{
		background-repeat: no-repeat;background-position: 0 0;
		width: 35px;height: 30px;border: 0;
	}
	.prev{
		background-image: url("../img/paging-prev.png");
		margin-right: 10px;
	}
	.next{
		background-image: url("../img/paging-next.png");
		margin-left: 10px;
	}
}

.width-auto{width: auto;}

.table-write{
	border-top: 2px solid #2b53b8;
	table{
		table-layout: fixed;width: 100%;
		border-collapse:collapse;
    	border-spacing:0;
	}
	
	tbody{
		th,
		td{
			border-bottom: 1px solid #d6d6d6;padding: 8px 15px;
		}
		th{background-color: #f8f8f8;text-align: right;font-weight: 500;}

		td{
			font-weight: 400;font-size: 14px;
			text-align-last: left;
			border-left: 1px solid #d6d6d6;
			+th{
				border-left: 1px solid #d6d6d6;
			}
		}
	}
}

.table-list{
	border-top: 2px solid #2b53b8;
	table{
		table-layout: fixed;width: 100%;
		border-collapse:collapse;
    	border-spacing:0;
	}
	thead{
		th{
			background-color: #d5e8f9;
			border-bottom: 1px solid #b4c8d8;
			font-weight: 400;font-size: 14px;
			padding: 12px 0;
		}
	}
	tbody{
		td{
			font-weight: 400;font-size: 14px;
			text-align: center;
			padding: 12px 0;
			border-bottom: 1px solid #d6d6d6;
			&.tal{text-align: left;padding-left: 20px;}
			&.tar{text-align: right;padding-right: 20px;}
		}
	}
}
.color-blue{
	color: #324087;
}

.form-control{
	display: inline-block;
    padding: 0 10px;
    height: 35px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.frm-search{
	padding-bottom: 25px;
}
.datepicker-set{
	display: inline-block;
}

.btn{
	display: inline-block;
	border: 0;height: 35px;border-radius: 3px !important;
	min-width: 80px;
	i{
		display: inline-block;
		margin-right: 4px;
	}
}
.btn-search{
	background-color: #2b8ee1;color: #fff;
}
.btn-wr{
	background-color: #6c757d;color: #fff;
}
.btn-del{
	background-color: #ffc107;color: #fff;
}
.frm-search-2{
	position: relative;
	padding-bottom: 10px;
	.btn-group{
		position: absolute;right: 0;top: -5px;
	}
}

.width-100p{width: 100%;}

.tabmenu{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	a{
		display: inline-block;
		
		height: 45px;line-height: 45px;
		text-align: center;
		font-size: 17px;
		font-weight: 500;border: 1px solid #ddd;border-bottom: 0;border-radius: 4px 4px 0 0;
		vertical-align: top;background-color: #fff;
		width: 250px;
		&.current{
			background-color: #2b8ee1;
			color: #fff;
		}
	}
}
.card.no-round{
	border-radius:0 0 12px 12px;
}

.reg-frm{
	.card{
		border-radius: 0;
	}
	h4{
		font-size: 18px;
		margin-bottom: 10px;
	}
}